<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bdkj.com.englishstu">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.Application"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.WelcomeActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.StuMainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.AdmMainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.TeaMainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".base.baseView.BaseActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.EditNoticeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.InfoModifyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.EditClassActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.NoteDetailActivity" />
        <activity
            android:name=".view.EditTeacherActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>